
<ul class="navbar-nav">

    @if (User.Identity.IsAuthenticated)
    {


        
    <a class="nav-link text-dark" style="color:#0094ff !important" asp-area="" asp-controller="Profile" asp-action="ChangePassword"> @User.Identity.Name </a>
                <li class="nav-item">
                    <a class="nav-link text-dark" style="color: #0094ff !important" asp-area="" asp-controller="Account" asp-action="Logout">Sign Out</a>
                </li> }
                            else
                            {
                <li class="nav-item" style="margin-right:10px;">
                    <a class="nav-link text-dark" style="color: #0094ff !important" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area=""  asp-controller="Account" asp-action="Registration" style="margin-right: 10px; color: #0094ff !important">Sign Up</a>
                                </li>
}

</ul>
