<div class="table-responsive">
    <table id="example" class="stripe table table-striped table-bordered" style="width: 100%; padding:0px;" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Fullname</th>
                <th>Lastname</th>
                <th>MobileNo</th>
                <th>EmailId</th>
                <th>Villagename</th>
            </tr>
        </thead>
    </table>
</div>
<br />
<br />
<br />

@section Scripts {
    <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>

    <script>
    $(document).ready(function() {
        var table = $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            scrollY: "100%",
            scrollX: true,
            scrollCollapse: true,
            select: { style: 'multi' },
            fixedColumns: {
                left: 1
            },
            "ajax": {
                "url": "/Home/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            //"columnDefs": [{
            //    "defaultContent": "-",
            //    "targets": "_all",
            //}],
            "columnDefs": [{
                "defaultContent": "-",
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true },
                { "data": "memberCode", "name": "MemberCode", "sWidth": "20px" },
                { "data": "fullname", "name": "Fullname", "autoWidth": true },
                { "data": "lastname", "name": "Lastname", "autoWidth": true },
                { "data": "mobileNo", "name": "MobileNo", "autoWidth": true },
                { "data": "emailId", "name": "EmailId", "autoWidth": true },
                { "data": "villagename", "name": "Villagename", "autoWidth": true },
                //{
                //    "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.Id + '">Edit</a>'; }
                //},
                //{
                //    data: null,
                //    render: function(data, type, row) {
                //        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";
                //    }
                //},
            ]

        });

        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

        $('#button').click(function () {
            alert(table.rows('.selected').data().length + ' row(s) selected');
            for (var i = 0; i < table.rows('.selected').data().length; i++){
            alert("Member code = "+table.rows('.selected').data()[i]["memberCode"]);
            }
        });

    });


function DeleteData(CustomerID) {
    if (confirm("Are you sure you want to delete ...?")) {
        Delete(CustomerID);
    } else {
        return false;
    }
}


function Delete(CustomerID) {
    var url = '@Url.Content("~/")' + "DemoGrid/Delete";

    $.post(url, { ID: CustomerID }, function(data) {
        if (data) {
            oTable = $('#example').DataTable();
            oTable.draw();
        } else {
            alert("Something Went Wrong!");
        }
    });
}

    </script>


}
