@using SmjApp.ViewModels
@model MembersRegistrationModel 

@{ ViewData["Title"] = "Members Registration"; }

<h4>Members Registration</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row"> 
        <div class="col-md-4"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"> 
                <select asp-for="Initials" class="form-control" asp-items="ViewBag.Initials">
                    <option value="">-- Select Initials --</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Widow">Widow</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Fullname" class="form-control" placeholder="Full name" required />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input asp-for="MobileNo" class="form-control"  placeholder="Mobile number" maxlength="12" type="number" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input asp-for="EmailId" class="form-control"  placeholder="EmailId"  type="email" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input asp-for="Villagename" class="form-control" placeholder="Village name"  required />
                <span asp-validation-for="Villagename" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input asp-for="Address" class="form-control" placeholder="Address" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input asp-for="DOB" class="form-control" placeholder="Date of birth" required /> <label id="lblAge" ></label>
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4"> 
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProfilePicture" class="custom-file-input" onchange="readProfileURL(this)"  />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <img src="~/images/default-profile.PNG" alt="No Image" id="imgProfileURL" style='height:150px;'>
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="AgeProofPicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="AgeProofPicture" class="custom-file-input" onchange="readAgeProofURL(this)" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <img src="~/images/default-profile.PNG" alt="No Image" id="imgAgeProofURL" style='height:150px;'>
                <span asp-validation-for="AgeProofPicture" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div>
        <div class="form-group">
            <input type="submit" value="Register and Proceed to pay" class="btn btn-primary" />
        </div>
    </div>
</form>


@section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function readProfileURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector("#imgProfileURL").setAttribute("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readAgeProofURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector("#imgAgeProofURL").setAttribute("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
